* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}
.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("images/code.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 1% 4%;
  align-items: center;
}
nav img {
  width: 150px;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  padding: 8px 12px;
  display: inline-block;
  position: relative;
}
.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}
.nav-links ul li::after {
  content: "";
  height: 4px;
  background: #0099ff;
  width: 0%;
  display: block;
  transition: 0.5s;
  margin: auto;
}
.nav-links ul li:hover::after {
  width: 100%;
}
.text-box {
  text-align: center;
  color: #fff;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text-box p {
  margin: 10px 0 40px;
  padding: 12px;
  font-size: 14px;
}
.text-box h1 {
  font-size: 62px;
}
nav .fa {
  display: none;
}

/* ---- info ----*/
.info {
  width: 80%;
  text-align: center;
  margin: auto;
  padding-top: 100px;
}
h1 {
  font-size: 40px;
  font-weight: 600;
}
p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}
h2 {
  font-size: 50px;
  padding-bottom: 50px;
}
.row {
  display: flex;
  justify-content: space-between;
}
.content-box {
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}
.content-box ul li {
  list-style: none;
}
.content-box:hover {
  box-shadow: 10px;
}

/* ---- Games ----*/

.games {
  width: 80%;
  text-align: center;
  margin: auto;
  padding-top: 20px;
}
.game-box {
  flex-basis: 32%;
  border-radius: 20px;
  margin-bottom: 50px;
  position: relative;
  overflow: hidden;
}

.game-box img {
  width: 100%;
  display: block;
  height: 100%;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer:hover {
  background: rgba(220, 0, 0, 0.7);
}
.layer h3 {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}

/* ---- bottom contact ----*/

#contact a {
  text-decoration: none;
  color: white;
}

.social {
  padding: 0;
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
}

#contact {
  background-color: rgb(4, 0, 252);
  color: white;
  height: 100px;
}

#contact ul li {
  margin-top: 40px;
  list-style: none;
}

/* ---- phone ----*/
@media (max-width: 700px) {
  .text-box h1 {
    font-size: 20px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: absolute;
    background: var(primary);
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
  .nav-links ul li:hover::after {
    width: 0;
  }

  nav img {
    width: 75px;
  }

  .row {
    flex-direction: column;
  }
  h2 {
    font-size: 20px;
  }
}

/* Contact Form */

.contact-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
  margin-top: 50px;
}
.contact-container {
  width: 90%;
  max-width: 500px;
  padding: 20px;
  box-shadow: 0px 0px 20px #000000;
  background-color: white;
  border-radius: 8px;
}

.form-group {
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 5px;
  font-size: 18px;
  border: 1px solid gray;
  margin-top: 5px;
}

.form-group textarea {
  resize: vertical;
}

button[type="submit"] {
  width: 100%;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 24px;
  border-radius: 8px;
  color: blue;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s ease background-color;
}
button[type="submit"]:hover {
  background-color: #90d3ff;
}

#status {
  margin-top: 10px;
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
}
#status.success {
  background-color: rgb(211, 250, 153);
  animation: status 4s ease forwards;
}
#status.error {
  background-color: rgb(250, 129, 92);
  color: white;
  animation: status 4s ease forwards;
}
@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
